@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica-Compressed.woff2') format('woff2'),
        url('Helvetica/Helvetica-Compressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica-Light.woff2') format('woff2'),
        url('Helvetica/Helvetica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica-BoldOblique.woff2') format('woff2'),
        url('Helvetica/Helvetica-BoldOblique.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/HelveticaRounded-Bold.woff2') format('woff2'),
        url('Helvetica/HelveticaRounded-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica-Bold.woff2') format('woff2'),
        url('Helvetica/Helvetica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica.woff2') format('woff2'),
        url('Helvetica/Helvetica.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('Helvetica/Helvetica-Oblique.woff2') format('woff2'),
        url('Helvetica/Helvetica-Oblique.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

